html(lang='en')
  head
    title Data Pengguna
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../assets/css/bootstrap.min.css')
    script(src='../assets/js/jquery-1.11.3.min.js')
    script(src='../assets/js/bootstrap.min.js')
  body
    .container
      .panel.panel-danger
        .panel-heading
          h4.text-center Error
        .panel-body
          h4.text-center Maaf, aplikasi sedang mengalami gangguan.